@charset "UTF-8";
/* 배경 어둡게 */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 모달 창 */
.admin-modal-content {
  background: rgb(192, 192, 192);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
}

/* 닫기 버튼 */
.modal-close {
  position: absolute;
  top: 10px; right: 15px;
  cursor: pointer;
  font-size: 18px;
}
/* 가입정보 기입 테이블의 td */
.mgr-detail-table td{
  padding: 5px 20px;
  color: #212529;
}
/* 가입정보 기입 테이블의 td안의 input  */
.mgr-detail-table td input{
	width: 100%; 
	height: 34px; 
}

.btn-group-right{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-right: 20px;
}	

.input-info[readonly] {
  background-color: #f0f0f0; /* 연한 회색 */
  color: #888888;           /* 글자도 회색으로 */
  border: 1px solid #ccc;
}

.mgr-profile-img {
	cursor: pointer;
}


.phone-inputs {
    display: flex;
    gap: 8px;
    align-items: center;
}

.phone-inputs input[type="tel"] {
    padding: 14px 16px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}

.phone-inputs span {
    flex: 0 0 auto;
    padding: 0 4px;
    color: #6c757d;
    font-weight: 500;
}

#phone1 { 
    flex: 3; 
    min-width: 60px;
}

#phone2, #phone3 { 
    flex: 4; 
    min-width: 80px;
}
